!!! 5
html
  head
    title General Notes.
    meta(content='width=device-width, height=device-height, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0', name='viewport')
    meta(content='yes', name='apple-mobile-web-app-capable')
    meta(content='chrome=1', http-equiv='X-UA-Compatible')
    link(rel='shortcut icon', href='/images/favicon.png')
    if debug
      link(rel='stylesheet', href='/stylesheets/main.css')
    else
      link(rel='stylesheet', href='/stylesheets/main-min.css')

  body
    #header
      if session.email
        a(href='#', id='logout') Log out
      else
        a(href='#', id='login') Log in

    block content
    #footer

    script(src='https://login.persona.org/include.js', type='text/javascript')
    if debug
      script(src='/javascripts/require.js', data-main='/javascripts/config')
    else
      script(src='/javascripts/build/notes.js')
