/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

html, body {
    height: 100%;
    position: relative;
}

body {
    background-color: #f1f1f1;
    color: #222;
    font-family: Arial, sans-serif;
    font-size: 25px;
}

a {
    color: #1ba4e9;
    border-bottom: 2px solid #fff;
    text-decoration: none;
}

#header {
    height: 60px;
    padding: 10px 20px 10px;
}

#logout {
    display: inline-block;
    font-size: 16px;
}

h2 {
    font-size: 55px;
    margin: 20px 0;
    text-align: center;
}

#add {
    border-bottom: none;
    color: #111;
    font-size: 70px;
    font-weight: 600;
    line-height: 42px;
    position: fixed;
    right: 20px;
    top: 5px;
}

#add:hover {
    box-shadow: #fff 8px 8px 0;
    color: #1ba4e9;
}

form {
    display: block;
    opacity: 1.0;
    position: fixed;
    right: 380px;
    top: 10px;
    transition: 0.6s;
    -webkit-transition: 0.6s;
}

textarea {
    background-color: #fffeca;
    border: 0;
    border-radius: 3px;
    font-family: Arial, sans-serif;
    font-size: 18px;
    height: 200px;
    padding: 15px;
    position: fixed;
    resize: none;
    width: 320px;
}

textarea:focus {
    border: 0;
}

.cancel {
    background-color: #111;
    border-radius: 5px;
    display: inline-block;
    font-size: 38px;
    line-height: 30px;
    padding: 5px 10px 10px;
    position: absolute;
    right: -355px;
    top: 185px;
}

.cancel:hover {
    color: #fff;
}

ul {
    background-color: rgba(255, 255, 255, 0.6);
    clear: both;
    display: block;
    float: left;
    height: 100%;
    width: 100%;
}

ul li {
    line-height: 35px;
    padding: 10px 20px;
}

ul li:hover {
    background-color: #cbedff;
}

ul li a {
    border-bottom: none;
}

.delete {
    border-bottom: none;
    color: #f00;
    font-size: 30px;
    font-weight: 600;
    margin-left: 20px;
}

.delete:hover {
    color: #111;
}

.hidden {
    opacity: 0;
    top: -500px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
}

@media only screen and (max-width: 370px) {
    body {
        font-size: 22px;
    }

    ul li {
        line-height: 25px;
    }

    form {
        right: 260px;
    }

    textarea {
        width: 200px;
    }

    .cancel {
        right: -190px;
        top: 260px;
    }
}
